[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
pydantic = "*"
keras = "*"
tensorflow = "*"
pydantic-settings = "*"
loguru = "*"
celery = {extras = ["redis"], version = "*"}
pandas = "*"
scikit-learn = "*"
mlflow = "*"
boto3 = "*"

[dev-packages]
pre-commit = "*"
pytest = "*"
pytest-cov = "*"

[requires]
python_version = "3.11"

[scripts]
server = "uvicorn app.main:app --reload"
unittests = "pytest -vs tests/ --cov app/ --cov-report term-missing"
iris-predictor = "celery -A app.iris.tasks worker"
